/* .main-div{
    width:"80%";
} */
.project-div{
   display:"grid";
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto;
   gap:20px;
} 
.netlify-btn{
    border:"3px solid tomato";
    font-weight:"bold"; 
    font-size:"18px"; 
    cursor:"pointer";
    padding:"5px 12px";
    border-radius:"10px";
    display:"flex"; 
    gap:"5px"; 
    align-items:"center"
}
.github-btn{
    border:"3px solid tomato";
    font-weight:"bold"; 
    font-size:"18px"; 
    cursor:"pointer";
    padding:"5px 12px";
    border-radius:"10px";
    display:"flex"; 
    gap:"5px"; 
    align-items:"center";
}